<div class="container">
	<h1 class="text-success">Kitabı Düzenle</h1>
	<div class="card mt-3" style="background-color: #f1eee5;">
		<%= render 'form', kitap: @kitap %>
		<div>
			<%= link_to 'Göster', @kitap %>
			<%= link_to 'Geri', kitaps_path, :class => 'ml-2' %>
		</div>
	</div>
</div>
